<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h2>Giỏ hàng</h2>
        <p>Chi tiết giỏ hàng</p>            
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Tên sản phẩm</th>
              <th>Hình ảnh</th>
              <th>Gía tiền</th>
              <th>Số lượng</th>
              <th>Thành tiền</th>
              <th>Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Camera</td>
              <td></td>
              <td>100000</td>
              <td>2</td>
              <td>200000</td>
              <td><button type="button" class="btn btn-danger">Xóa</button></td>
            </tr>
            
          </tbody>
        </table>
        <div>Tổng hóa đơn thanh toán:<strong>200000</strong></div>
    </div>
    <div class="container" style="margin-top: 50px;">
       <div class="row">
           <div class="col-sm-6">
               <form action="">
                <div class="card mb-4 shadow-sm">
                    <img src="images/chuotmaytinh.png" class="rounded" height="255" width="255" alt="Cinque Terre">
                    <div class="card-body">
                    <p class="card-text">Chuột máy tính</p>
                    <div class="d-flex  align-items-center">
                        <form action="" class="form-inline">
                            <input type="text" value="1">
                            <button style="margin-left: 10px;" type="submit" class="btn btn-sm btn-outline-secondary">Thêm sản phẩm vào giỏ hàng</button>
                        </form>
                    </div>
                </div>
               </div>
               </form>
            </div>
           <div class="col-sm-6">
            <form action="">
                <div class="card mb-4 shadow-sm">
                    <img src="images/laptopdell.jpg" class="rounded" alt="Cinque Terre" width="255" height="255">
                    <div class="card-body">
                    <p class="card-text">Laptop Dell</p>
                    <div class="d-flex align-items-center">
                        <form action="" class="form-inline">
                            <input type="text" value="1">
                            <button style="margin-left: 10px;" type="submit" class="btn btn-sm btn-outline-secondary">Thêm sản phẩm vào giỏ hàng</button>
                        </form>
                    </div>
                    </div>
                </div>
               </form>
           </div>
       </div>
       <div class="row">
           <div class="col-sm-6">
            <form action="">
                <div class="card mb-4 shadow-sm">
                    <img src="images/ocung.png" class="rounded" alt="Cinque Terre" width="255" height="255">
                    <div class="card-body">
                    <p class="card-text">Ổ cứng SSD</p>
                    <div class="d-flex align-items-center">
                        <form action="" class="form-inline">
                            <input type="text" value="1">
                            <button style="margin-left: 10px;" type="submit" class="btn btn-sm btn-outline-secondary">Thêm sản phẩm vào giỏ hàng</button>
                        </form>
                    </div>
                    </div>
                </div>
               </form>
           </div>
           <div class="col-sm-6">
            <form name="product1" action="" method="post">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex align-items-center">
                        <form action="" class="form-inline">
                            <input type="text" value="1">
                            <button style="margin-left: 10px;" type="submit" class="btn btn-sm btn-outline-secondary">Thêm sản phẩm vào giỏ hàng</button>
                        </form>    
                    </div>
                    </div>
                </div>
               </form>
               
        </div>
       </div>
    </div>
    
</body>
</html>